[user]
	name = Maxim Kupfer
	email = mbkupfer@gmail.com

[alias]
	s = status
	co = checkout
	ci = commit
	lol = log --graph --decorate --pretty=oneline --all --abbrev-commit
	rp = rev-parse --short
	alist = config --get-regexp alias